In [33]:
import os
from pathlib import Path

import pandas as pd
from sklearn.tree import DecisionTreeClassifier
import numpy as np

In [48]:
data_path = Path(os.getcwd()).parent
df = pd.read_csv(data_path/"data"/"titanic.csv")

In [49]:
df = df.loc[:, ["Survived", "Pclass", "Fare", "Age", "Sex"]]
df = df.dropna()
df.Sex = df.Sex.map({"male": 0, "female": 1})

In [50]:
y = df.Survived
df = df.drop(columns=["Survived"])
X = df.to_numpy()

In [51]:
clf = DecisionTreeClassifier(random_state=241)
clf.fit(X, y)

DecisionTreeClassifier(random_state=241)

In [52]:
clf.feature_importances_

array([0.14751816, 0.29538468, 0.25658495, 0.30051221])

In [53]:
df.columns

Index(['Pclass', 'Fare', 'Age', 'Sex'], dtype='object')

In [54]:
df.head()

   Pclass     Fare   Age  Sex
0       3   7.2500  22.0    0
1       1  71.2833  38.0    1
2       3   7.9250  26.0    1
3       1  53.1000  35.0    1
4       3   8.0500  35.0    0

In [ ]:
xX