In [53]:
import os
from pathlib import Path

import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, precision_recall_curve

In [8]:
data_path = Path(os.getcwd()).parent/"data"

classification = pd.read_csv(data_path/"classification.csv")
scores = pd.read_csv(data_path/"scores.csv")

In [42]:
def save_ans(*ans, delimetr=" "):
    with open(data_path.parent/"res.txt", "w") as f:
        f.write(delimetr.join(map(str, ans)))

In [10]:
classification.head()

   true  pred
0     1     0
1     1     1
2     1     1
3     0     0
4     1     1

In [23]:
TP = ((classification["true"] == 1) & (classification["pred"] == 1)).sum()
FP = ((classification["true"] == 0) & (classification["pred"] == 1)).sum()
FN = ((classification["true"] == 1) & (classification["pred"] == 0)).sum()
TN = ((classification["true"] == 0) & (classification["pred"] == 0)).sum()

In [24]:
TP, FP, FN, TN

(43, 34, 59, 64)

In [34]:
save_ans(TP, FP, FN, TN)

In [44]:
acc = accuracy_score(classification["true"], classification["pred"])
prec = precision_score(classification["true"], classification["pred"])
rec = recall_score(classification["true"], classification["pred"])
f1 = f1_score(classification["true"], classification["pred"])

In [49]:
np.around([acc, prec, rec, f1], 2)

array([0.54, 0.56, 0.42, 0.48])

In [51]:
save_ans(*np.around([acc, prec, rec, f1], 2))

In [35]:
scores.head()

   true  score_logreg  score_svm  score_knn  score_tree
0     0      0.683832   0.145976   0.787063    0.500000
1     1      0.801966   0.239511   1.000000    0.833333
2     0      0.382315  -0.245701   0.000000    0.000000
3     1      0.506797  -0.137058   0.000000    0.105263
4     1      0.488781  -0.154148   0.000000    0.105263

In [39]:
score_logreg = roc_auc_score(scores["true"], scores["score_logreg"])
score_svm = roc_auc_score(scores["true"], scores["score_svm"])
score_knn = roc_auc_score(scores["true"], scores["score_knn"])
score_tree = roc_auc_score(scores["true"], scores["score_tree"])

In [40]:
score_logreg, score_svm, score_knn, score_tree

(0.719187675070028, 0.7086834733893557, 0.6351540616246498, 0.6919267707082833)

In [52]:
save_ans("score_logreg")

In [55]:
clfs = ["score_logreg", "score_svm", "score_knn", "score_tree"]

max_prec = 0
clf_name = ""

for clf in clfs:
    precs, recalls, thrs = precision_recall_curve(scores["true"], scores[clf])
    
    for p, r, _ in zip(precs, recalls, thrs):
        if r >= 0.7 and p > max_prec:
            max_prec = p
            clf_name = clf

In [57]:
max_prec, clf_name

(0.6517857142857143, 'score_tree')

In [58]:
save_ans(clf_name)